<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      * {
        -webkit-tap-highlight-color: transparent !important;
      }

      html,
      body {
        margin: 0;
        padding: 0;
        background: #000;
      }

      body {
        font-family:
          -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
          sans-serif;
      }

      #app {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      div {
        color: white;
        font-size: 20px;
        line-height: 32px;
      }

      .title {
        font-size: 34px;
        line-height: 40px;
        font-weight: bold;
      }

      .body {
        color: #ccc;
      }

      .target {
        display: flex;
      }

      .speaking {
        color: #fff;
        text-decoration: underline;
      }

      .title,
      .target {
        color: rgb(255, 141, 40);
      }

      .paragraph {
        display: flex;
        flex-wrap: wrap;
        column-gap: 6px;
      }

      .word {
        display: flex;
        align-items: baseline;
      }
    </style>
    <script src="vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="paragraph title">
        <template v-for="(word, index) in useSentence.title" :key="word">
          <span v-if="!matchPunctuation(word)" @click="onPlay(word, 0, index)" :class="{target: handleActivate(word)}">
            {{ word }}
            <small v-if="handleActivate(word)">{{ handleActivate(word).translate }}</small>
          </span>
          <span v-else style="margin-left: -6px">{{ word }}</span>
        </template>
      </div>
      <template v-for="(bodys, index) in useSentence.body" :key="index">
        <div class="paragraph body">
          <template v-for="(word, index2) in bodys" :key="word">
            <span
              v-if="!matchPunctuation(word)"
              @click="onPlay(word, index, index2, 'body')"
              class="word"
              :class="{ target: handleActivate(word), speaking: handleSpankWord(word, index, index2) }"
              data-type="body"
              :data-line="index"
              :data-word_index="index2"
            >
              {{ word }}
              <small class="word-answer" v-if="handleActivate(word)">{{ handleActivate(word).translate }}</small>
            </span>
            <span v-else style="margin-left: -6px">{{ word }}</span>
          </template>
        </div>
      </template>
    </div>
    <script>
      function getAppHeight() {
        const app = document.getElementById('app')
        return app.clientHeight
      }

      function onReload() {
        window.location.reload()
      }

      // 供原生调用的回调函数
      function updateResult(content = '') {
        if (content) {
          document.getElementById('result').innerText = content
          return
        }
        let innerText = document.getElementById('result').innerText
        document.getElementById('result').innerText = `${innerText}\n${content}`
      }

      /**
       * 更新高度
       * @param delay
       */
      function updateHeight(delay = 0) {
        setTimeout(() => {
          sentMessage({ action: 'updateHeight', data: { a: 1, height: getAppHeight() } })
        }, delay)
      }

      // 注册接收 Native 消息的回调
      window.onload = () => {
        try {
          window.nativeBridge.receiveMessage((message) => {
            const { action, data } = message
            if (action === 'annotation') {
              const targetIndex = vm.target.findIndex((v) => v.word === data.word)
              if (targetIndex > -1) {
                vm.target[targetIndex] = data
              } else {
                vm.target.push(data)
              }
              // 主动移除选区
              window.getSelection().removeAllRanges()
              return
            }
            vm.sentence = data
          })
        } catch (e) {}
      }

      const { createApp, ref, nextTick, watch, computed, onMounted } = Vue

      function sentMessage(data) {
        try {
          window.webkit.messageHandlers.bridge.postMessage(data)
        } catch (e) {}
      }

      const vm = createApp({
        setup() {
          const speakingWord = ref({
            line: 0,
            wordIndex: 0,
            word: '',
          })
          const target = ref([
            // {word: 'morning', translate: '早安'} // 例子
          ])
          const sentence = ref('hello world')

          watch(
            () => sentence.value,
            () => {
              nextTick(() => {
                updateHeight()
              })
            },
          )

          const useSentence = computed(() => {
            return extractTitle(sentence.value)
          })

          function handleActivate(word) {
            return target.value.find((v) => word.toLowerCase() === v.word.toLowerCase())
          }

          function handleSpankWord(wordStr, index1, index2) {
            const { line, wordIndex, word } = speakingWord.value
            return line === index1 && wordIndex === index2 && word === wordStr
          }

          /**
           * 匹配标点符号
           * @param text
           * @return {boolean}
           */
          function matchPunctuation(text) {
            return !/^[a-zA-Z0-9]/.test(text)
          }

          const onPlay = (word, line, wordIndex, titleOrBody = 'title') => {
            speakingWord.value = {
              line,
              wordIndex,
              word,
            }
            const s = Object.assign([], useSentence.value[titleOrBody])
            const _word = titleOrBody === 'title' ? s : Object.assign([], s[line])
            _word[wordIndex] = `{${word}}`
            const data = {
              action: 'clickWord',
              data: {
                word,
                sentence: _word.join(' ').replaceAll(' , ', ', '),
              },
            }
            console.log(data)
            sentMessage(data)
          }

          /**
           * 从文本中提取标题（第一行）和正文。
           * 若只有一行，则返回 null 标题。
           */
          function extractTitle(text) {
            const texts = splitIntoParagraphs(text.trim())
            if (texts.length <= 1) {
              return { title: null, body: text }
            }
            const title = splitIntoWords(texts[0])
            const body = texts.slice(1).map((p) => splitIntoWords(p))
            return { title, body }
          }

          /**
           * 匹配带连字符的单词，普通单词，或单个标点符号
           * @param text
           * @return {RegExpMatchArray|*[]}
           */
          function splitIntoWords(text) {
            if (!text || typeof text !== 'string') return []
            return text.match(/\w+(?:-\w+)*|[^\s\w]/g) || []
          }

          /**
           * 将字符串按段落分割成数组
           * - 每段尾部不会有换行符或空格
           * - 段落由一个或多个空行分隔
           * @param {string} text - 输入字符串
           * @returns {string[]} - 段落数组
           */
          function splitIntoParagraphs(text) {
            if (!text || typeof text !== 'string') return []

            return text
              .split(/\n/) // 两个换行符以上视为段落分隔
              .map((p) => p.replace(/[\r\n]+$/g, '').trim()) // 去掉尾部换行符 + 首尾空格
              .filter((p) => p.length > 0) // 去掉空段落
          }

          function handleGetSelection() {
            const selection = window.getSelection()
            const { type, line, word_index } = selection.anchorNode.parentElement.dataset
            console.log({ type, line, word_index })
            const base = Object.assign([], useSentence.value.body[line])
            base[word_index] = `{${selection.toString()}}`
            return {
              word: selection.toString(),
              sentence: base.join(' ').replaceAll(' , ', ', '),
            }
          }

          onMounted(() => {
            sentence.value = `
How to Develop Good Living Habits
Good living habits are the-morning foundation of a healthy and fulfilling life.
Here are some practical steps to help you cultivate them.
`
            updateHeight(300)
          })

          return {
            target,
            sentence,
            useSentence,
            speakingWord,
            onPlay,
            matchPunctuation,
            handleActivate,
            handleSpankWord,
            handleGetSelection,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
